.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 100px;
}

.App-header {
  background-color: #000;
  height: 170px;
  padding: 20px;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.whats-deployed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5vh;
}
.whats-deployed > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 4 auto;
          flex: 1 4 auto;
  padding: 2rem;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  overflow: scroll;
}

.whats-deployed > *:first-child {
  max-width: 200px;
}
.whats-deployed > *:nth-child(2) {
  border-left: 0;
  border-right: 0;
  min-width: 300px;
}
.server {
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 2px;
  clear: both;
  overflow: hidden;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
